<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CodeProfiler.Properties.Settings.WorkDBConnectionString"
            connectionString="Data Source=devsqltrans1;Initial Catalog=WorkDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>